body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-dark {
  background-color: darkgray;
}

#navbar {
  background-color: white;
}

#navbar a {
  width: 100px;
  margin: 0 auto 0;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

#navbar a:hover {
  background: #E7E7E7;
  border-bottom: 3px solid blue;
}

h2 {
  margin: 20px 0 30px;
}

#content {
  background-color: darkgray;
  height: 1000px;
}
